container_commands:
  01_mkdir_static:
    command: "mkdir -p /var/app/current/static"
  02_mkdir_staticfiles:
    command: "mkdir -p /var/app/current/staticfiles"
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true